In [3]:
import pandas as pd
import json

In [35]:
records = []

In [46]:

records = []
with open("./data/yelp_academic_dataset_business.json", "r") as f:
    for i, line in enumerate(f):
        if i >= 1000:  # Change this number to get more/less
            break
        try:
            record = json.loads(line)
            records.append(record)
        except json.JSONDecodeError:
            print(f"Skipping bad line {i}")

df_business = pd.DataFrame(records)

In [47]:
df_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [55]:
df_business.describe()

          latitude    longitude        stars  review_count      is_open
count  1000.000000  1000.000000  1000.000000   1000.000000  1000.000000
mean     36.677438   -89.700843     3.641000     49.174000     0.793000
std       5.871555    15.164254     0.968792    135.630119     0.405358
min      27.584300  -119.886915     1.000000      5.000000     0.000000
25%      32.196357   -90.417415     3.000000      8.000000     1.000000
50%      39.468600   -86.112950     4.000000     15.500000     1.000000
75%      39.962697   -75.377471     4.500000     40.000000     1.000000
max      53.630160   -74.753212     5.000000   2404.000000     1.000000

In [57]:
df_business.shape

(1000, 14)

In [48]:
records = []
with open("./data/yelp_academic_dataset_review.json", "r") as f:
    for i, line in enumerate(f):
        if i >= 1000:  # Change this number to get more/less
            break
        try:
            record = json.loads(line)
            records.append(record)
        except json.JSONDecodeError:
            print(f"Skipping bad line {i}")

df_reviews = pd.DataFrame(records)

In [49]:
df_reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [58]:
df_reviews.shape

(1000, 9)

In [50]:
records = []
with open("./data/yelp_academic_dataset_checkin.json", "r") as f:
    for i, line in enumerate(f):
        if i >= 1000:  # Change this number to get more/less
            break
        try:
            record = json.loads(line)
            records.append(record)
        except json.JSONDecodeError:
            print(f"Skipping bad line {i}")

df_checkin = pd.DataFrame(records)

In [51]:
df_checkin

                business_id                                               date
0    ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1    --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2    --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3    --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4    --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...
..                      ...                                                ...
995  -TczrbbjQKfoNGCeNXcurg  2012-03-09 23:39:31, 2013-06-05 15:22:15, 2013...
996  -TdNv5o5J2JjTmIuAbIWzw  2017-08-22 13:22:20, 2019-03-19 13:15:39, 2021...
997  -TgNuaotu3vobBRt5KyiVw  2021-03-04 00:52:32, 2021-03-29 01:05:54, 2021...
998  -Thb5brv1ARwIa0j5HHBeA  2012-09-02 02:37:33, 2012-09-03 00:32:41, 2013...
999  -Ti5pwj6mA99khsxxur8aQ  2019-05-31 23:57:55, 2019-06-14 23:57:32, 2019...

[1000 rows x 2 columns]

In [8]:
records = []

with open("./data/yelp_academic_dataset_user.json", "r") as f:
    for i, line in enumerate(f):
        if i >= 1000:  # Change this number to get more/less
            break
        try:
            record = json.loads(line)
            records.append(record)
        except json.JSONDecodeError:
            print(f"Skipping bad line {i}")

df_user = pd.DataFrame(records)

In [11]:
df_user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CiYRhDyFbsDbWR45uv822w,Fannie,1856,2007-04-16 05:46:40,3187,1259,1943,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","m1wo8yvaTLLhaILpHNLinA, b_ED_rPl7OLwEpUlr4VI5A...",83,...,18,11,12,5,56,187,198,198,56,14
996,90QrD73MiLPjs4mtkmBqQQ,Paige,87,2007-06-05 01:17:34,278,138,210,2008,"qB1-nREOrp-mlYi-1gNsIQ, g35P2UgyRK1ercs6rVkN1Q...",11,...,4,3,0,0,10,9,27,27,2,1
997,4tK3tiB3zggiYudjU9H03g,Andrew,222,2010-07-12 18:01:52,228,53,71,,"1ypK74Sr0QmsJ8IZG8v0cQ, ncnHqPdCqhjglPlU-tsLHw...",3,...,0,0,0,0,3,5,3,3,1,0
998,WyvvWRCCHizctkFdGWz72A,Alex,1048,2009-01-28 08:19:13,1510,460,635,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","_NiVqGbGHxaVgI1f25BqgA, hVEjo6v4G2SE4BQi4K8bCA...",56,...,6,5,0,0,23,68,45,45,13,13
999,NpdXQqJFmuQ4wAO9CsgzUg,Greg,19,2010-06-13 06:15:53,58,18,25,,"aFP1J3Qv__QfubkllyKHUQ, 3YdFgaud6NGDJMmTqJLE5g...",2,...,1,0,0,0,1,0,3,3,1,1

In [10]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             1000 non-null   object
 1   name                1000 non-null   object
 2   review_count        1000 non-null   int64
 3   yelping_since       1000 non-null   object
 4   useful              1000 non-null   int64
 5   funny               1000 non-null   int64
 6   cool                1000 non-null   int64
 7   elite               1000 non-null   object
 8   friends             1000 non-null   object
 9   fans                1000 non-null   int64
 10  average_stars       1000 non-null   float64
 11  compliment_hot      1000 non-null   int64
 12  compliment_more     1000 non-null   int64
 13  compliment_profile  1000 non-null   int64
 14  compliment_cute     1000 non-null   int64
 15  compliment_list     1000 non-null   int64
 16  compliment_note     1000 non-null   int64
 17  compliment_plain    1000 non-null   int64
 18  compliment_cool     1000 non-null   int64
 19  compliment_funny    1000 non-null   int64
 20  compliment_writer   1000 non-null   int64
 21  compliment_photos   1000 non-null   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 172.0+ KB

In [60]:
with open("./data/yelp_academic_dataset_business.json", "r") as f:
    for i in range(5):
        print(f.readline())

{"business_id":"Pns2l4eNsfO8kk83dixA6A","name":"Abby Rappoport, LAC, CMQ","address":"1616 Chapala St, Ste 2","city":"Santa Barbara","state":"CA","postal_code":"93101","latitude":34.4266787,"longitude":-119.7111968,"stars":5.0,"review_count":7,"is_open":0,"attributes":{"ByAppointmentOnly":"True"},"categories":"Doctors, Traditional Chinese Medicine, Naturopathic\/Holistic, Acupuncture, Health & Medical, Nutritionists","hours":null}

{"business_id":"mpf3x-BjTdTEA3yCZrAYPw","name":"The UPS Store","address":"87 Grasso Plaza Shopping Center","city":"Affton","state":"MO","postal_code":"63123","latitude":38.551126,"longitude":-90.335695,"stars":3.0,"review_count":15,"is_open":1,"attributes":{"BusinessAcceptsCreditCards":"True"},"categories":"Shipping Centers, Local Services, Notaries, Mailbox Centers, Printing Services","hours":{"Monday":"0:0-0:0","Tuesday":"8:0-18:30","Wednesday":"8:0-18:30","Thursday":"8:0-18:30","Friday":"8:0-18:30","Saturday":"8:0-14:0"}}

{"business_id":"tUFrWirKiKi_TAnsVWINQQ","name":"Target","address":"5255 E Broadway Blvd","city":"Tucson","state":"AZ","postal_code":"85711","latitude":32.223236,"longitude":-110.880452,"stars":3.5,"review_count":22,"is_open":0,"attributes":{"BikeParking":"True","BusinessAcceptsCreditCards":"True","RestaurantsPriceRange2":"2","CoatCheck":"False","RestaurantsTakeOut":"False","RestaurantsDelivery":"False","Caters":"False","WiFi":"u'no'","BusinessParking":"{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}","WheelchairAccessible":"True","HappyHour":"False","OutdoorSeating":"False","HasTV":"False","RestaurantsReservations":"False","DogsAllowed":"False","ByAppointmentOnly":"False"},"categories":"Department Stores, Shopping, Fashion, Home & Garden, Electronics, Furniture Stores","hours":{"Monday":"8:0-22:0","Tuesday":"8:0-22:0","Wednesday":"8:0-22:0","Thursday":"8:0-22:0","Friday":"8:0-23:0","Saturday":"8:0-23:0","Sunday":"8:0-22:0"}}

{"business_id":"MTSW4McQd7CbVtyjqoe9mw","name":"St Honore Pastries","address":"935 Race St","city":"Philadelphia","state":"PA","postal_code":"19107","latitude":39.9555052,"longitude":-75.1555641,"stars":4.0,"review_count":80,"is_open":1,"attributes":{"RestaurantsDelivery":"False","OutdoorSeating":"False","BusinessAcceptsCreditCards":"False","BusinessParking":"{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}","BikeParking":"True","RestaurantsPriceRange2":"1","RestaurantsTakeOut":"True","ByAppointmentOnly":"False","WiFi":"u'free'","Alcohol":"u'none'","Caters":"True"},"categories":"Restaurants, Food, Bubble Tea, Coffee & Tea, Bakeries","hours":{"Monday":"7:0-20:0","Tuesday":"7:0-20:0","Wednesday":"7:0-20:0","Thursday":"7:0-20:0","Friday":"7:0-21:0","Saturday":"7:0-21:0","Sunday":"7:0-21:0"}}

{"business_id":"mWMc6_wTdE0EUBKIGXDVfA","name":"Perkiomen Valley Brewery","address":"101 Walnut St","city":"Green Lane","state":"PA","postal_code":"18054","latitude":40.3381827,"longitude":-75.4716585,"stars":4.5,"review_count":13,"is_open":1,"attributes":{"BusinessAcceptsCreditCards":"True","WheelchairAccessible":"True","RestaurantsTakeOut":"True","BusinessParking":"{'garage': None, 'street': None, 'validated': None, 'lot': True, 'valet': False}","BikeParking":"True","GoodForKids":"True","Caters":"False"},"categories":"Brewpubs, Breweries, Food","hours":{"Wednesday":"14:0-22:0","Thursday":"16:0-22:0","Friday":"12:0-22:0","Saturday":"12:0-22:0","Sunday":"12:0-18:0"}}

In [4]:
records = []

with open("./data/yelp_academic_dataset_tip.json", "r") as f:
    for i, line in enumerate(f):
        if i >= 5000:  # Change this number to get more/less
            break
        try:
            record = json.loads(line)
            records.append(record)
        except json.JSONDecodeError:
            print(f"Skipping bad line {i}")

df_tip = pd.DataFrame(records)

In [5]:
df_tip

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
4995,5ckeF_zCeBrbo3Ngx5-2Zw,IawT1emmoua-NJNMQHIvqg,Salad bar is AROUND the corner in the cafeteri...,2015-10-21 15:47:20,0
4996,_YBX0Fy9pI0ktOQ9RtFhAg,Vnob_w_Aohf7ZDqxcJ9z2A,Sometimes the serves can get very neglectful o...,2015-09-03 01:10:16,0
4997,7igTVTgqI3WiqZp8hrgaMA,2j7i82BNAalfIL75KninSA,Monday-Saturday 8:30-5:30,2012-01-02 21:50:02,0
4998,poIygVhr5Y_IzgPINwnpsA,2Op9EFHGk_Q-oQVIbuitTQ,"They are fast, friendly, & reliable! I only go...",2014-09-07 16:02:22,0
4999,58RoZz7uNRayfo0OfSoNHw,Hp6CuyYcPneEkqEJmuf5xQ,Oh so many people,2012-08-04 00:48:27,0

In [62]:
import pandas as pd

df = pd.read_json("./data/yelp_academic_dataset_business.json", lines=True)

In [63]:
df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [64]:
import dask.dataframe as dd

In [ ]:
df = dd.read_json("./data/yelp_academic_dataset_review.json", lines=True)